.menu > nav{
    background-color: #283655;
      position: absolute;
  bottom: 0;
  width: 100%;
    left:0;
  height: max-content;
   
}
.menu > nav > table {
    margin: 0 auto; 
    color: #D0E1F9;
}

a {
    text-decoration-line: none;
    color: #000;
    color: #D0E1F9;
}
mi-footer {
    background-color: #000;
    color: #fff;
}
